footer {
    background: $gris-sombre;

    .foot-container {
        @extend %grid-center;
        @include grid-template-set ($footer);
        padding: 2rem 7rem;
        color: $txt-fond-sombre;
        font-family: 'Roboto', sans-serif;

        & h2 {
            @include grid-pos-set (1, auto, 1, auto);
            justify-self: start;
            margin: 0 0 1.5rem 0;
            font-family: 'Shrikhand', cursive;
            font-weight: normal;
            font-size: 1.4rem;
        }

        & ul {
            @include grid-pos-set (2, auto, 1, 4);
            justify-self: start;

            & li {
                margin: 0 0 0.5rem 0;
            }
        }

        & a {
            justify-self: start;
            color: $txt-fond-sombre;

            & .fa-utensils {
                padding: 0 1rem 0 0;
            }

            & .fa-hands-helping {
                padding: 0 0.55rem 0 0;
            }
        }
    }
}